<template>
  <v-container>
    <v-row>
      <v-col class="text-right">
        <v-btn
          class="ma-2"
          color="primary"
          @click="dialog = true"
          id="add-car-btn"
          >Add</v-btn
        >
        <v-btn
          class="ma-2"
          color="warning"
          @click="exportCarBookings"
          id="export-users-btn"
          >Export</v-btn
        >
      </v-col>
    </v-row>

    <v-text-field
      v-model="search"
      append-icon="mdi-magnify"
      label="Search"
      single-line
      hide-details
    ></v-text-field>
    <br />

    <v-alert v-model="alert" dense outlined type="error">
      date picker ต้อง<strong>มากกว่า</strong>วันปัจจุบัน <strong>3</strong> วัน
    </v-alert>

    <v-dialog v-model="dialog" width="600" persistent>
      <v-card>
        <v-card-title class="text-h6 grey lighten-2">
          บันทึกการจองรถ
        </v-card-title>

        วันที่จอง
        <input
          type="date"
          style="border: solid 1px"
          v-model="formStage.reserveDate"
          class="a"
        />

        เวลา
        <input
          type="time"
          style="border: solid 1px"
          v-model="formStage.reserveTime"
          class="a"
        />
        <br />
        เหตุผล
        <input
          type="text"
          style="border: solid 1px"
          v-model="formStage.remark"
          maxlength="100"
          class="a"
        />
        <br />
        ทะเบียนรถ
        <select
          style="border: solid 1px"
          v-model="formStage.licensePlate"
          class="a"
        >
          <option value="กท1">กท1</option>
          <option value="กท2">กท2</option>
          <option value="กท3">กท3</option>
          <option value="กท4">กท4</option>
        </select>
        <!-- {{ formStage }} -->
        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="success" @click="saveItem">บันทึก</v-btn>
          <v-btn color="error" @click="cancelItem">ยกเลิก</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-data-table
      :headers="headers"
      :items="rowData"
      :items-per-page="5"
      :search="search"
      class="elevation-1"
      ><template v-slot:[`item.actions`]="{ item }">
        <v-icon small class="mr-2" @click="editItem(item)"> mdi-pencil </v-icon>
        <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
      </template>
    </v-data-table>
  </v-container>
</template>

<script>
import Vue from "vue";
import Sevice from "@/services/car-booking-service";
import { DateTime } from "luxon";
export default Vue.extend({
  name: "App",

  data() {
    return {
      service: new Sevice(),
      dialog: false,
      alert: false,
      search: "",
      headers: [
        {
          text: "วันที่ต้องการจอง",
          align: "start",
          sortable: false,
          value: "reserveDate",
        },
        { text: "เวลาที่ต้องการจอง", value: "reserveTime" },
        { text: "เหตุผลการจอง", value: "remark" },
        { text: "ทะเบียนรถ", value: "licensePlate" },
        { text: "", value: "actions" },
      ],
      rowData: [],
      // การกำหนดค่าของตัวแปร
      formStage: {
        id: 0,
        reserveDate: "",
        reserveTime: "",
        remark: "",
        licensePlate: "",
      },
    };
  },

  methods: {
    editItem(item) {
      console.log(item);
      this.dialog = true;
      // this.formStage = {
      //   reserveDate: item.reserveDate,
      //   reserveTime: item.reserveTime,
      //   remark: item.remark,
      //   licensePlate: item.licensePlate,
      // };
      // หรือ
      this.formStage = { ...item };
    },
    async deleteItem(item) {
      await this.service.deleteCarBooking(item.id);
      await this.getItems();
    },
    async saveItem() {
      // const form = {
      //   reserveDate: this.formStage.reserveDate,
      //   reserveTime: `${this.formStage.reserveDate}T${this.formStage.reserveTime}`,
      //   remark: this.formStage.remark,
      //   licensePlate: this.formStage.licensePlate,
      // };
      // หรือ
      this.formStage.reserveTime = `${this.formStage.reserveDate}T${this.formStage.reserveTime}`;
      //  this.formStage คือค่าที่ get มาจาก dialog
      if (this.formStage.id == 0) {
        const dataAdd = await this.service.addCarBooking(this.formStage);
        this.alert = !dataAdd.data;
        this.alert = !dataAdd.data
          ? (this.dialog = true)
          : (this.dialog = false);
      } else {
        await this.service.editCarBooking(this.formStage);
        this.dialog = false;
      }
      this.formStage = {
        id: 0,
        reserveDate: "",
        reserveTime: "",
        remark: "",
        licensePlate: "",
      };
      await this.getItems();
    },
    cancelItem() {
      this.dialog = false;
      this.alert = false;
      // เคลียค่าเเต่ละช่องใน dialog
      this.formStage = {
        id: 0,
        reserveDate: "",
        reserveTime: "",
        remark: "",
        licensePlate: "",
      };
    },

    async getItems() {
      const data = await this.service.getCarBookings();
      console.log(data.data);
      this.rowData = data.data;
    },
    async exportCarBookings() {
      const { data: blob } = await this.service.export();
      if (blob) {
        const url = window.URL.createObjectURL(blob);
        const link = document.createElement("a");
        link.href = url;
        link.setAttribute(
          "download",
          `${DateTime.local().toFormat("yyyyLLdd")}.xlsx`
        );
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
      }
    },
  },

  // เป็นการเรียกใช้ service.getCarBookings
  async mounted() {
    await this.getItems();
  },
});
</script>

<style>
.a {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
</style>
