<template>
  <v-app>
    <br />
    <v-toolbar-title style="margin-left: 50px">บันทึกการจองรถ</v-toolbar-title>
    <!-- <v-toolbar-title style="margin-left: 50px">บันทึกข้อมูล</v-toolbar-title> -->
    <v-main>
      <CarBookingPage />
    </v-main>
  </v-app>
</template>

<script>
import CarBookingPage from "./components/car-booking-page";
// import DocumentPage from "./components/document-page";

export default {
  name: "App",

  components: {
    CarBookingPage,
    // DocumentPage,
  },

  data: () => ({
    //
  }),
};
</script>
